Debug/*
Release/*
.vs/*
packages/*
x64/*
log/*.log
dist/*
dist*
local/*

imgui.ini
UpgradeLog*

*~
#.*
.*#

vcpkg_installed/*

.*autosave.kra
.emacs*
.DS*

*.orig
*_BASE_*
*_BACKUP_*
*_LOCAL_*
*_REMOTE_*
